<aside>
	<div>
		<h3>Latest Posts</h3>
		<ul>
			{{ range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
			<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
			{{ end }}
		</ul>
	</div>

	<div>
		<h3>Tags</h3>
		<ul>
			{{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
			{{ with $.Site.GetPage (printf "/tags/%s" $name) }}
			<li>
				<a class="tag-{{$name}}" href={{ .RelPermalink }} title='All pages with tag "{{$name}}"'>
					{{$name}}
				</a>
				<span class="tag count">{{$cnt}}</span>
			</li>
			{{end}}
			{{end}}
		</ul>
	</div>
</aside>
